
:root {
  --brand-primary-20: #a62526;
  --brand-accent-50: #255f7e;
  --brand-secondary-50: #bfff00;
}


:root {
  --neutrals-neutral-00: #3c3a3a;
  --neutrals-neutral-10: #9a9a9a;
  --neutrals-neutral-90: #000000;

  --primary-50: #a62526;
  --bg-50: #9a9a9a;
  --bg-80: #3c3a3a;
}


:root {
  --primary: #000000;
  --secondary: #a62526;
  --muted: #a62526;
}


:root {
  --font-family-font-family: "Bebas Neue";
  --font-family-font-family-secondary: "Raleway";

  --font-size-s: 16px;
  --font-size-m: 24px;
  --font-size-l: 32px;
  --font-size-xl: 40px;
}


:root {
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 4rem;
  --space-xl: 8rem;
}